.title_login{
    font-size: 30;
    font-family: 'Noto Sans JP';
    color: #D89719;
    position: absolute;
    top: 145px;
    left: 925px;
}

.loginpage_container{
    background-color: #3d5485;
    height: 100vh;
}

